<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                       
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25782859?query=java%20Odessa">Senior Java Engineer</td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25855751?query=java%20Odessa">Senior Java Developer/ElectricAccelerator</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25855706?query=java%20Odessa">Full stack Web Developer / Javascript, PHP</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25855879?query=java%20Odessa">Middle QA Automation Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary">1&nbsp;500-2&nbsp;300 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25782857?query=java%20Odessa">Senior Java Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25857546?query=java%20Odessa">Senior Java/Spring Developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25853619?query=java%20Odessa">Full-stack developer (Java, Angular)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/26007520?query=java%20Odessa">Senior Cloud DevOps</td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/26007578?query=java%20Odessa">Cloud DevOps Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25852692?query=java%20Odessa">Regular Automation Test engineer (Python)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25853767?query=java%20Odessa">Regular/Senior Angular developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25853487?query=java%20Odessa">Configuration Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25625231?query=java%20Odessa">Senior Java Developer / SaaS</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/26257840?query=java%20Odessa">PHP Middle+/Senior Developer (Ad Network)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП MobsterAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/26001703?query=java%20Odessa">Senior Back-end Java Developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Slidepresenter GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/26027709?query=java%20Odessa">Junior QA Automation engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/26028368?query=java%20Odessa">Middle Machine Learning Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Gallantra Business Intelligence</td> 
     <td class="salary">1&nbsp;500-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/26030919?query=java%20Odessa">AI / Machine Learning Developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Livegenic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25450596?query=java%20Odessa">QA Automation Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://hh.ru/vacancy/25994848?query=java%20Odessa">Data Science specialist</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО E-book Applications</td> 
     <td class="salary">2&nbsp;000-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043091">Java-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Элемент 5</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043083">Frontend-разработчик (React JS)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042967">Разработчик back-end</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Севергрупп Медицина</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043064">Senior Backend Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043062">React / redux front end developer</td> 
     <td class="city"></td> 
     <td class="companyName">Betmeup</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043042">Senior Frontend Developer (React)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043056">PHP Team Lead</td> 
     <td class="city"></td> 
     <td class="companyName">BeeJee</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043037">Java-разработчик</td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Konig Labs</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042834">Java Developer</td> 
     <td class="city">Минск</td> 
     <td class="companyName">ID Finance</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042892">QA Automation Engineer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">FactoryMarket</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041129">Преподаватель вебинаров по программированию</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040643">Senior Unity Developer (R&amp;D)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043011">Java разработчик</td> 
     <td class="city">Тверь</td> 
     <td class="companyName">iSimpleLab</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043010">Senior Front-End Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ITigris</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000030711">Java SuperDeveloper</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">JarSoft</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040838">Инженер по автоматизации (DevOps)</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АйТиЭм Холдинг</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040628">Back-End Web Developer (Java)</td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042983">IT Recruiter</td> 
     <td class="city"></td> 
     <td class="companyName">CODEFATHER</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042981">Руководитель группы разработки мобильных приложений</td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DartIT</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042866">Front-end developer</td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037915">Architect (Machine Learning)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Crystal Service Integration</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042961">Разработчик-эксперт Liferay</td> 
     <td class="city"></td> 
     <td class="companyName">DartIT</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042957">Java Swing Developer</td> 
     <td class="city"></td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">От 120 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037889">Инженер по автоматизации тестирования</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042955">Разработчик Android</td> 
     <td class="city">Москва</td> 
     <td class="companyName">WEBINAR</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043091">Java-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Элемент 5</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043083">Frontend-разработчик (React JS)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042967">Разработчик back-end</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Севергрупп Медицина</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043064">Senior Backend Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043062">React / redux front end developer</td> 
     <td class="city"></td> 
     <td class="companyName">Betmeup</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043042">Senior Frontend Developer (React)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043056">PHP Team Lead</td> 
     <td class="city"></td> 
     <td class="companyName">BeeJee</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043037">Java-разработчик</td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Konig Labs</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042834">Java Developer</td> 
     <td class="city">Минск</td> 
     <td class="companyName">ID Finance</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042892">QA Automation Engineer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">FactoryMarket</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041129">Преподаватель вебинаров по программированию</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040643">Senior Unity Developer (R&amp;D)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043011">Java разработчик</td> 
     <td class="city">Тверь</td> 
     <td class="companyName">iSimpleLab</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043010">Senior Front-End Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ITigris</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000030711">Java SuperDeveloper</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">JarSoft</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040838">Инженер по автоматизации (DevOps)</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АйТиЭм Холдинг</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040628">Back-End Web Developer (Java)</td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042983">IT Recruiter</td> 
     <td class="city"></td> 
     <td class="companyName">CODEFATHER</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042981">Руководитель группы разработки мобильных приложений</td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DartIT</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042866">Front-end developer</td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037915">Architect (Machine Learning)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Crystal Service Integration</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042961">Разработчик-эксперт Liferay</td> 
     <td class="city"></td> 
     <td class="companyName">DartIT</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042957">Java Swing Developer</td> 
     <td class="city"></td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">От 120 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037889">Инженер по автоматизации тестирования</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042955">Разработчик Android</td> 
     <td class="city">Москва</td> 
     <td class="companyName">WEBINAR</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000033112">Angular/Nodejs разработчик</td> 
     <td class="city">Химки</td> 
     <td class="companyName">Корнерстоун</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042952">PHP-программист Yii (возможна удаленка)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Max.Credit</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042898">Java Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042899">Senior Data Engineer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042932">JAVA-developer</td> 
     <td class="city">Бонн</td> 
     <td class="companyName">Dr. Windel &amp; Partner</td> 
     <td class="salary">От 160 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042187">Android developer</td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Blogman</td> 
     <td class="salary">От 20 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042922">Team Lead команды Back-end разработки (python/java)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Кадровое агентство «ВИЗАВИ Консалт»</td> 
     <td class="salary">От 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000011498">Инженер по тестированию (QA)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">4xxi</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042914">Senior Android Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042889">Senior Android Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042885">Senior Web Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041182">React Native developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">STORIQA LTD</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042884">Старший разработчик Android</td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042878">Ведущий Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042869">Remote Android Developer</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Bot M.D.</td> 
     <td class="salary">До 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042138">Senior/Middle Golang developer</td> 
     <td class="city">Рига</td> 
     <td class="companyName">OpenWeatherMap</td> 
     <td class="salary">От 2 000 до 3 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041814">Senior Backend Developer</td> 
     <td class="city">Пенза</td> 
     <td class="companyName">АйДаПрикол</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042849">Sales Engineer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">InterSystems Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039912">Senior Java Web Developer</td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042836">Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042835">IOS разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040809">Java/Spring developer</td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">App-Smart</td> 
     <td class="salary">От 1 200 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042832">Разработчик Oracle\Delphi</td> 
     <td class="city">Москва</td> 
     <td class="companyName">UseTech Integration</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034512">Data Scientist</td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042025">Data Engineer</td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042826">Full Stack Developer (Java, Javascript)</td> 
     <td class="city"></td> 
     <td class="companyName">Adiq</td> 
     <td class="salary">От 2 400 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042814">Senior Android developer (IoT)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042813">Senior Java developer (IoT)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042812">Архитектор Java (Pega)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">UseTech Integration</td> 
     <td class="salary">От 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042804">Systems Analyst</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042803">Junior Java Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042802">Android разработчик</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Транссеть</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042796">Team Lead / Архитектор</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Topface</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041775">Java-разработчик</td> 
     <td class="city">Казань</td> 
     <td class="companyName">ООО "Дайком Консалтинг"</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042788">Senior Java-разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Маркет Плато</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042770">Архитектор Java</td> 
     <td class="city"></td> 
     <td class="companyName">StrataTech</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034043">Senior Frontend Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042735">Lead / Senior Backend Developer (Java)</td> 
     <td class="city">Барселона</td> 
     <td class="companyName">B4Finance</td> 
     <td class="salary">От 2 900 до 3 700 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041946">Java-Developer /разработчик</td> 
     <td class="city">Орел</td> 
     <td class="companyName">SENLA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042747">Senior Android Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Smart Development Ltd</td> 
     <td class="salary">От 3 000 до 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042751">Senior / Middle QA</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Smart Development Ltd</td> 
     <td class="salary">От 2 000 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042744">Ведущий инженер по тестированию, QA Team Lead, Head QA Engineering Jobs</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Корона Авто, ООО</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042742">Full Stack .Net Software Engineer</td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042740">Руководитель группы сопровождения сервисных систем</td> 
     <td class="city"></td> 
     <td class="companyName">ИНВИТРО</td> 
     <td class="salary">От 89 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042739">Middle / Senior Java Developer</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042730">Бэк-энд разработчик Java</td> 
     <td class="city">Москва</td> 
     <td class="companyName">PFL Advisors</td> 
     <td class="salary">От 90 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042726">Разработчик Java/Kotlin</td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042718">Android разработчик</td> 
     <td class="city">Киев</td> 
     <td class="companyName">LiteBox</td> 
     <td class="salary">До 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042714">Тестировщик-автоматизатор</td> 
     <td class="city"></td> 
     <td class="companyName">Devprom Software</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000032582">Automation QA Engineer</td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042713">Junior Java developer (стажер)</td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 25 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042712">Разработчик Ruby</td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038033">Frontend разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000026082">Разработчик мобильных приложений (Android)</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038735">System Administrator / DevOps</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042675">Java Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TWINO Group</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042666">Специалист технической поддержки баз и сервисов</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Alpari</td> 
     <td class="salary">От 110 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039119">Android developer</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Siberian.pro</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041352">Программист С#/.NET/ASP.NET</td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Virtoway</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040921">Java Backend Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040366">JS Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042642">Главный frontend- разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042532">Front-end (Full-stack) разработчик</td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NeuroCity</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000036841">Java разработчик (Middle)</td> 
     <td class="city">Казань</td> 
     <td class="companyName">Ай-Новус</td> 
     <td class="salary">До 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042204">Опытный Java-разработчик</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042635">Java-Developer / Разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Тиллипад</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042620">Android developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042618">Разработчик JAVA</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042483">Программист</td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Персонал-консалтинг Плюс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042473">Python Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000027502">Разработчик Android</td> 
     <td class="city">Москва</td> 
     <td class="companyName">tvzavr</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042578">Test Lead</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Plesk</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038434">Senior/middle PHP/JS разработчик/Team Lead</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Plesk</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040587">Мобильный разработчик Android</td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042573">QA Engineer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042564">Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">FactoryMarket</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042557">Senior Automation QA Engineer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037548">Программист-аналитик</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 40 000 до 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041771">Программист PHP (Backend или Full Stack)</td> 
     <td class="city">Казань</td> 
     <td class="companyName">ForexTime Ltd</td> 
     <td class="salary">От 90 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042547">Java-разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042543">IOS DEVELOPER (РАЗРАБОТКА РЕШЕНИЯ SERVICE DESK)</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042528">Remote Android middle/senior developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Технологии грузоперевозок</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000024765">Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">RentaTeam</td> 
     <td class="salary">От 90 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042525">Senior Android Developer (Ведущий Android разработчик)</td> 
     <td class="city"></td> 
     <td class="companyName">PEER.Network</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042506">Программист на Java</td> 
     <td class="city">Москва</td> 
     <td class="companyName">YTEAM</td> 
     <td class="salary">От 80 000 до 125 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042495">Frontend Developer (JavaScript, React)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">LPTREND</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039159">Software Development Engineer / SDE (Python or Java)</td> 
     <td class="city"></td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042484">Java core разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042482">Разработчик Java</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Voximplant</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038405">Фултайм удаленно фулстек / Full time full stack REMOTE ( java / javascript )</td> 
     <td class="city"></td> 
     <td class="companyName">bemaster</td> 
     <td class="salary">От 1 500 до 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042467">Senior Java Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Perfect Art</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042463">Backend Engineer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">RetailNext</td> 
     <td class="salary">От 2 700 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042462">Javascript разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042455">Chief Technology Officer</td> 
     <td class="city">Киев</td> 
     <td class="companyName">Mobilife+</td> 
     <td class="salary">От 3 000 до 4 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000026504">Senior PHP back-end developer (Symfony, Yii2)</td> 
     <td class="city"></td> 
     <td class="companyName">Diffco</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042453">Full Stack Developer (Java, JS)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Nexign</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041408">QA automation (RnD)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Nexign</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042113">Разработчик Java</td> 
     <td class="city">Вологда</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039855">Mobile Developer</td> 
     <td class="city">Иваново</td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042446">Специалист по автоматизированному тестированию (C#/Java)</td> 
     <td class="city"></td> 
     <td class="companyName">Лаборатория Качества</td> 
     <td class="salary">До 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034529">Rust разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KUPIBILET.RU</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042425">Android разработчик (Senior Android developer)</td> 
     <td class="city">Казань</td> 
     <td class="companyName">ForexTime Ltd</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042438">Старший инженер по тестированию</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042426">Senior Java/Spring Developer</td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042414">Team Lead Java</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HR Development</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040790">Team Lead / Senior Java Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">CEO Consulting</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042410">Инженер-программист в области обработки видео, изображений и текста.</td> 
     <td class="city">Москва</td> 
     <td class="companyName">SKILLARY</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042352">Full-Stack разработчик (Таллин)</td> 
     <td class="city">Таллин</td> 
     <td class="companyName">Change</td> 
     <td class="salary">От 2 300 до 3 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034736">Тестировщик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042388">Системный архитектор Java/Technical architect Java</td> 
     <td class="city">Москва</td> 
     <td class="companyName">SoftPro</td> 
     <td class="salary">От 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039339">Специалист по тестированию ПО</td> 
     <td class="city">Москва</td> 
     <td class="companyName">WakeApp</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042371">Java-разработчик (backend)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Techport.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042380">Senior Java Developer</td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Spotware Systems</td> 
     <td class="salary">От 3 700 до 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042374">Инженер BigDatа</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Газпром нефть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042372">Архитектор / Руководитель направления</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Газпром нефть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000032430">Java/Web разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">AgriTask (ScanTask)</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042357">Frontend Разработчик/ Frontend Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042356">PHP Разработчик/ PHP Developer (Web Applications)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042355">Java Developer</td> 
     <td class="city">Тула</td> 
     <td class="companyName">Vigrom</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042353">PHP Developer</td> 
     <td class="city">Тула</td> 
     <td class="companyName">Vigrom</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039597">Специалист по автоматизации тестирования Android</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 100 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040068">Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041555">Разработчик хранилищ данных</td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042341">Data Team Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041230">Team Lead Java Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TEAMIDEA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037257">Senior ​​​​​​​Front-end Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>